<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nzse_prak0">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityChooseChannel"
            android:label="Kanal wählen">
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="Einstellungen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivitySwitchedOn" />
        </activity>
        <activity
            android:name=".ActivitySwitchedOn"
            android:label="@string/titleMainOn"
            android:launchMode="singleTop" />
        <activity
            android:name=".ActivitySwitchedOff"
            android:label="@string/titleMainOff"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>